extends ../layouts/base.pug

block content
  include ../components/filter.pug
  include ../components/sort.pug
  .hotels__items
    .hotels__items-wrap
      .hotels__item.hotels-item
        .hotels-item__ill-wrapp
          img(src='img/hotels-1.jpg', width='135', height='90', alt='')
        .hotels-item__info
          h2.hotels-item__title
            | Amara Resort & Spa
          .hotels-item__description
            span
              | Гостиницы
            span
              | от 4000 р.
          .hotels-item__actions
            a.btn(href='#')
              | Подробнее
            a.btn(href='#')
              | Забронировать
        .hotels-item__rating
          span.hotels-item__rating-stars
            span
              | 2 звезды
          span.hotels-item__rating-desc
            | Рейтинг:
            |
            span
              | 8,5
      .hotels__item.hotels-item
        .hotels-item__ill-wrapp
          img(src='img/hotels-2.jpg', width='135', height='90', alt='')
        .hotels-item__info
          h2.hotels-item__title
            | Desert Quail Inn
          .hotels-item__description
            span
              | Мотель
            span
              | от 3000 р.
          .hotels-item__actions
            a.btn(href='#')
              | Подробнее
            a.btn(href='#')
              | Забронировать
        .hotels-item__rating
          span.hotels-item__rating-stars
            span
              | 2 звезды
          span.hotels-item__rating-desc
            | Рейтинг:
            |
            span
              | 8,9
      .hotels__item.hotels-item
        .hotels-item__ill-wrapp
          img(src='img/hotels-3.jpg', width='135', height='90', alt='')
        .hotels-item__info
          h2.hotels-item__title
            | Villas at Poco Diablo
          .hotels-item__description
            span
              | Апартаменты.
            span
              | от 2000 р.
          .hotels-item__actions
            a.btn(href='#')
              | Подробнее
            a.btn(href='#')
              | Забронировать
        .hotels-item__rating
          span.hotels-item__rating-stars
            span
              | 2 звезды
          span.hotels-item__rating-desc
            | Рейтинг:
            |
            span
              | 9,2
