//- extend pages/layouts/base.pug
//-
//- block content
//-   main
//-     section.promo
//-       .promo__wrapper
//-         .promo__img-box
//-           img(src='img/promo.png', width='458', height='352', alt='')
//-     section.advantages
//-       .advantages__wrapper
//-         .advantages__promo
//-           h2.advantages__title
//-             | Седона — небольшой городок в Аризоне, заслуживающий большего!
//-           p.advantages__description
//-             | Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
//-         .advantages__row
//-           .advantages__advantage.advantage
//-             b.advantage__title
//-               | Настоящий городок
//-             span.advantage__number
//-               | №1
//-             p.advantage__description
//-               | Седона - не аттракцион для туристов, там течет своя жизнь
//-           .advantages
//-             .advantages__img-box
//-               img(src='img/advantages-1.jpg', width='800', height='400', alt='')
//-         .advantages__row
//-           .advantages__advantage.advantage.advantage--ill
//-             b.advantage__title
//-               | Жилье
//-             p.advantage__description
//-               | Рекомендуем пожить в настоящем мотеле, все как в кино!
//-           .advantages__advantage.advantage.advantage--ill
//-             b.advantage__title
//-               | Еда
//-             p.advantage__description
//-               | Всегда заказывайте фирменный бургер, вы не разочаруетесь!
//-           .advantages__advantage.advantage.advantage--ill
//-             b.advantage__title
//-               | Сувениры
//-             p.advantage__description
//-               | Не только китайского, но и местного производства!
//-           .advantages__img-box
//-             img(src='img/advantages-2.jpg', width='800', height='400', alt='')
//-           .advantages__advantage.advantage
//-             b.advantage__title
//-               | Там есть мост дьявола
//-             span.advantage__number
//-               | №2
//-             p.advantage__description
//-               | Да, по нему можно пройти! Если конечно вы осмелитесь
//-         .advantages__row
//-           .advantages__advantage.advantage
//-             b.advantage__title
//-               | Небольшая площадь
//-             span.advantage__number
//-               | №3
//-             p.advantage__description
//-               | Все достопримечательности находятся очень близко
//-           .advantages__advantage.advantage
//-             b.advantage__title
//-               | Красивая дорого
//-             span.advantage__number
//-               | №4
//-             p.advantage__description
//-               | Ехать в Седону из Лас-Вегаса совсем не скучно!
//-           .advantages__advantage.advantage
//-             b.advantage__title
//-               | Мало туристов
//-             span.advantage__number
//-               | №5
//-             p.advantage__description
//-               | Большинство едет в гранд каньон и толпится там
//-     section.search
//-       .search__wrapper
//-         b.search__title
//-           | Заинтересовались?
//-         p.search__deascription
//-           | Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне
//-         .search__map
//-           img(src='img/map.jpg', width='1200', height='593', alt='')
//-         .search__box.search-box
//-           button.search-box__open-btn(type='button')
//-             | Поиск гостиницы в Седоне
//-           form.search-box__form.search-form
//-             .search-form__row
//-               label.search-form__label(for='arrival')
//-                 | Дата заезда:
//-               .search-form__field-wrap
//-                 input.search-form__field(id='arrival', type='text', placeholder='24 апреля 2017')
//-                 button.search-form__calendar-btn(type='button')
//-                   span
//-                     | Календарь
//-                   svg(width='21', height='22')
//-                     use(xlink:href='img/symbols.svg#calendar')
//-             .search-form__row
//-               label.search-form__label(for='departure')
//-                 | Дата выезда:
//-               .search-form__field-wrap
//-                 input.search-form__field(id='departure', type='text', placeholder='4 июля 2017')
//-                 button.search-form__calendar-btn(type='button')
//-                   span
//-                     | Календарь
//-                   svg(width='21', height='22')
//-                     use(xlink:href='img/symbols.svg#calendar')
//-             .search-form__row
//-               .search-form__row.search-form__row--half
//-                 label.search-form__label
//-                   | Взрослые:
//-                 .search-form__amount-wrap
//-                   button(type='button')
//-                     span
//-                       | Меньше
//-                   input(type='text', value='2')
//-                   button(type='button')
//-                     span
//-                       | Больше
//-               .search-form__row.search-form__row--half
//-                 label.search-form__label
//-                   | Дети:
//-                 .search-form__amount-wrap
//-                   button(type='button')
//-                     span
//-                       | Меньше
//-                   input(type='text', value='0')
//-                   button(type='button')
//-                     span
//-                       | Больше
//-             button.search-form__submit(type='submit')
//-               | Найти
