section.advantages
  .advantages__promo
    .advantages__container
      h2.advantages__title
        | Седона — небольшой городок в Аризоне,
        br
        | заслуживающий большего!
      p.advantages__description
        | Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
  .advantages__row
    .advantages__col
      .advantage.advantage--blue
        b.advantage__title
          | Настоящий
          br
          | городок
        span.advantage__number
          | №1
        p.advantage__description
          | Седона - не аттракцион для туристов, там течет своя жизнь
    .advantages__col-img
      .advantages__img-wrap
        img(src='img/advantages-1.jpg' width='800' height='400' alt='')
  .advantages__row
    .advantages__col
      .advantage.advantage--feature.advantage--feature--house
        b.advantage__title
          | Жилье
        p.advantage__description
          | Рекомендуем пожить в настоящем мотеле, все как в кино!
    .advantages__col
      .advantage.advantage--feature.advantage--feature--food
        b.advantage__title
          | Еда
        p.advantage__description
          | Всегда заказывайте фирменный бургер, вы не разочаруетесь!
    .advantages__col
      .advantage.advantage--feature.advantage--feature--souvenirs
        b.advantage__title
          | Сувениры
        p.advantage__description
          | Не только китайского, но и местного производства!
  .advantages__row
    .advantages__col-img
      .advantages__img-wrap
        img(src='img/advantages-2.jpg' width='800' height='400' alt='')
    .advantages__col
      .advantage.advantage--blue
        b.advantage__title
          | Там есть
          br
          | мост дьявола
        span.advantage__number
          | №2
        p.advantage__description
          | Да, по нему можно пройти! Если конечно вы осмелитесь
  .advantages__row
    .advantages__col
      .advantage
        b.advantage__title
          | Небольшая площадь
        span.advantage__number
          | №3
        p.advantage__description
          | Все достопримечательности находятся очень близко
    .advantages__col
      .advantage
        b.advantage__title
          | Красивая
          br
          | дорога
        span.advantage__number
          | №4
        p.advantage__description
          | Ехать в Седону из Лас-Вегаса совсем не скучно!
    .advantages__col
      .advantage
        b.advantage__title
          | Мало
          br
          | туристов
        span.advantage__number
          | №5
        p.advantage__description
          | Большинство едет в гранд каньон и толпится там
