.sort
  .sort__container
    .sort__inner
      b.sort__result
        | Найдено:
        |
        span
          | 3
      .sort__controls
        span.sort__title
          | Сортировка:
        ul.sort__items
          li.sort__item
            a.sort__btn
              | По цене
          li.sort__item
            a.sort__btn(href='#')
              | По типу
          li.sort__item
            a.sort__btn(href='#')
              | По рейтингу
        ul.sort__items.sort__items--arrows
            li.sort__item
              a.sort__arrow-btn.sort__arrow-btn--up(href='#')
                span.visually-hidden
                  | Возрастание цены
            li.sort__item
              a.sort__arrow-btn.sort__arrow-btn--down
                span.visually-hidden
                  | Убывание цены
