header.page-header
  .page-header__wrapper
    nav.main-nav
      ul.main-nav__list.main-nav__list--left
        li.main-nav__item
          a.main-nav__link(href='#')
            | Информация
        li.main-nav__item
          a.main-nav__link(href='#')
            | Фото и видео
      a.logo(href='#')
        img(src='img/logo.png', width='138', height='70', alt='Логотип')
      ul.main-nav__list.main-nav__list--right
        li.main-nav__item
          a.main-nav__link(href='#')
            | Карта штата
        li.main-nav__item
          a.main-nav__link(href='hotels.html')
            | Гостиницы
