.advantages {
  text-align: center;
}

.advantages__wrapper {
  @include container;

  background-color: white;
}

.advantages__row {
  display: flex;
}

.advantages__col {
  flex-grow: 1;
  flex-shrink: 0;
  width: 33%;
}

.advantage {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 256px;
  padding-top: 50px;
  overflow: hidden;

  &--blue {
    color: white;

    background-color: #81b3d2;
  }
}

.advantages__col-img {
  flex-shrink: 0;
  width: 67%;

  background-color: #666666;
}

.advantages__img-wrap {
  height: 256px;
  overflow: hidden;

  img {
    display: block;
  }
}
