.promo {
  text-align: center;
}

.promo__wrapper {
  @include container;

  padding-top: 75px;
  padding-bottom: 80px;

  background-color: $color-main--darken;
}

.search__promo-title {
  font-size: 30px;
  line-height: 36px;
}

.search__description {
  line-height: 24px;
  color: $gray-51;
}
