.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 508px;
  padding: 20px 0;
  overflow: hidden;

  background-color: $color-main--darken;
  background-image: url('../img/promo-shape.png'), url('../img/promo-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom, top center;
  background-size: contain, auto;
}

.promo__img-wrap {
  img {
    display: block;
    width: 458px;
    height: 352px;
  }
}
