.search {
  background-color: white;
}

.search__container {
  @include container;
}

.search__promo {
  width: 636px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 32px;
}

.search__title {
  display: block;
  margin: 25px 0;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search__description {
  margin: 14px 0;

  line-height: 24px;
  text-align: center;
  color: $gray-51;
}

.search__form-wrap {
  position: relative;

  width: 568px;
  margin: 0 auto;
}

.search__form-title {
  margin: 0;
}

.search__open-btn {
  min-height: 86px;
}

.search__map {
  position: relative;

  iframe {
    position: absolute;

    display: block;

    border: none;
  }

  img {
    display: block;
    height: 593px;

    object-fit: cover;
  }
}
