.search__wrapper {
  @include container;
}

.search__promo-title {
  display: block;

  text-align: center;
}

.search__description {
  text-align: center;
}

.search__form-wrap {
  position: relative;

  width: 568px;
  margin: 0 auto;
}

.search__form-title {
  margin: 0;
}

.search__open-btn {
  min-height: 86px;
}
