body {
  font-size: 14px;
  font-family: $font-main;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  @include visually-hidden;
}
