//- .sort
//-   .right-col
//-     .filter-type-wrap
//-       h4.filter-type
//-         | Сортировка:
//-       ul.sort-items
//-         li.sort-item
//-           button.sort-btn(type='button', disabled)
//-             | По цене
//-         li.sort-item
//-           button.sort-btn(type='button')
//-             | По типу
//-         li.sort-item
//-           button.sort-btn(type='button')
//-             | По популярности
//-       ul.sort-items.sort-items--arrows
//-         li.sort-item
//-           button.sort-btn.sort-btn--arrow.sort-btn--up(type='button')
//-             span
//-               | Обратный порядок
//-         li.sort-item.sort-item--active
//-           button.sort-btn.sort-btn--arrow.sort-btn--down(type='button', disabled)
//-             span
//-               | Прямой порядок
