extend ./layouts/base.pug

block content
  main
    section.promo
      .promo__wrapper
        .promo__img-box
          img(src='img/promo.png', width='458', height='352', alt='')
    section.advantages
      .advantages__wrapper
        .advantages__promo
          h2.advantages__title
            | Седона — небольшой городок в Аризоне, заслуживающий большего!
          p.advantages__description
            | Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
        .advantages__row
          .advantages__advantage.advantage
            b.advantage__title
              | Настоящий городок
            span.advantage__number
              | №1
            p.advantage__description
              | Седона - не аттракцион для туристов, там течет своя жизнь
          .advantages
            .advantages__img-box
              img(src='img/advantages-1.jpg', width='800', height='400', alt='')
        .advantages__row
          .advantages__advantage.advantage.advantage--ill
            b.advantage__title
              | Жилье
            p.advantage__description
              | Рекомендуем пожить в настроящем мотеле, все как в кино!
          .advantages__advantage.advantage.advantage--ill
            b.advantage__title
              | Еда
            p.advantage__description
              | Всегда заказывайте фирменный бургер, вы не разочаруетесь!
          .advantages__advantage.advantage.advantage--ill
            b.advantage__title
              | Сувениры
            p.advantage__description
              | Не только китайского, но и местного производства!
          .advantages__img-box
            img(src='img/advantages-2.jpg', width='800', height='400', alt='')
          .advantages__advantage.advantage
            b.advantage__title
              | Там есть мост дьявола
            span.advantage__number
              | №2
            p.advantage__description
              | Да, по нему можно пройти! Если конечно вы осмелитесь
        .advantages__row
          .advantages__advantage.advantage
            b.advantage__title
              | Небольшая площадь
            span.advantage__number
              | №3
            p.advantage__description
              | Все достопримечательности находятся очень близко
          .advantages__advantage.advantage
            b.advantage__title
              | Красивая дорого
            span.advantage__number
              | №4
            p.advantage__description
              | Ехать в Седону из Лас-Вегаса совсем не скучно!
          .advantages__advantage.advantage
            b.advantage__title
              | Мало туристов
            span.advantage__number
              | №5
            p.advantage__description
              | Большинство едет в гранд каньон и толпится там
    section.search
      .search__wrapper
        b.search__title
          | Заинтересовались?
        p.search__deascription
          | Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне
        .search__map
          img(src='img/map.jpg', width='1200', height='593', alt='')
        .search__box.search-box
          button.search-box__open-btn(type='button')
            | Поиск гостиницы в Седоне
          form.search-box__form
            .box
              label
                | Дата заезда:
                span
                  input(type='text', placeholder='24 апреля 2017')
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22"><path d="M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 0 1-.437.459H1.75a.45.45 0 0 1-.438-.459V3.862a.45.45 0 0 1 .438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z"/><path d="M4.594 8.225h2.625v2.066H4.594zM4.594 11.668h2.625v2.067H4.594zM4.594 15.112h2.625v2.066H4.594zM9.188 15.112h2.625v2.066H9.188zM9.188 11.668h2.625v2.067H9.188zM9.188 8.225h2.625v2.066H9.188zM13.781 15.112h2.625v2.066h-2.625zM13.781 11.668h2.625v2.067h-2.625zM13.781 8.225h2.625v2.066h-2.625z"/></svg>
              label
                | Дата:
                span
                  input(type='text', placeholder='4 июля 2017')
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22"><path d="M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 0 1-.437.459H1.75a.45.45 0 0 1-.438-.459V3.862a.45.45 0 0 1 .438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z"/><path d="M4.594 8.225h2.625v2.066H4.594zM4.594 11.668h2.625v2.067H4.594zM4.594 15.112h2.625v2.066H4.594zM9.188 15.112h2.625v2.066H9.188zM9.188 11.668h2.625v2.067H9.188zM9.188 8.225h2.625v2.066H9.188zM13.781 15.112h2.625v2.066h-2.625zM13.781 11.668h2.625v2.067h-2.625zM13.781 8.225h2.625v2.066h-2.625z"/></svg>
              label
                | Взрослые:
                span
                  button(type='button')
                  input(type='text', placeholder='2')
                  button(type='button')
              label
                | Дети:
                span
                  button(type='button', )
                  input(type='text', placeholder='0')
                  button(type='button')
            button(type='submit')
              | Найти
