$font-main: 'PT Sans', arial, sans-serif;
//
$color-main: #81b3d2;
$color-main--dark: #669ec0;
$color-main--darken: #5496bd;
//
$brown: #766357;
$brown--dark: #604e43;
$brown--darken: #503e33;
//
$gray-51: #333333;
$gray-102: #666666;
$gray-106: #6a6a6a;
$gray-169: #a9a9a9;
$gray-189: #bdbbbc;
$gray-202: #cacaca;
$gray-229: #e5e5e5;
$gray-235: #ebebeb;
$gray-242: #f2f2f2;
