.page-header {
  color: black;

  background-color: white;
}

.page-header__wrapper {
  @include container-short;

  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}
